			<header>
				<h2>Create New User</h2>
			</header>
			<div class="body">
				<div class="info">
					{{partial "user/form"}}
				</div>
				<div class="actions">
					<a class="btn"{{action "save"}}>Save</a>
					<a class="btn"{{action "cancel"}}>Cancel</a>
				</div>
			</div>