<section>
  <div class="container">
    <h1>NEEMB</h1>
    <nav class="nav">
      {{#linkTo 'index'}}
        <button type="button" class="btn btn-default">
          Home
        </button>
      {{/linkTo}}
      {{#linkTo 'users.index'}}
        <button type="button" class="btn btn-default">
          Users
        </button>
      {{/linkTo}}

      {{#if isAuthenticated}}
        <a href="#">
          <button type="button" class="btn btn-warning">
            {{currentUser.email}}
          </button>
        </a>
        <a href="#" {{action 'logout'}}>
          <button type="button" class="btn btn-danger">
            Logout
          </button>
        </a>
      {{else}}
        {{#linkTo 'users.create'}}
          <button type="button" class="btn btn-success">
            Register
          </button>
        {{/linkTo}}
        {{#linkTo 'sessions.new'}}
          <button type="button" class="btn btn-success">
            Login
          </button>
        {{/linkTo}}
      {{/if}}
    </nav>
  </div>
</section>
<div class="container">{{outlet}}</div>
<hr/>
<footer>
  <p>© NEEMB 2013</p>
</footer>